<div *ngIf="isSubscribed | async">

  <h2>You are subscribed already.</h2>
  <button class="btn btn-danger" (click)="unsubscribe()">Unsubscribe</button>

</div>
<div *ngIf="!(isSubscribed | async)" >

  <h2>{{subscription.title | uppercase}}</h2>
  
  <div>

    <p id="subscription-description">Description: {{subscription.description}}</p>

    <p id="subscription-cost">Cost: {{subscription.currency.code}}{{subscription.currency.symbol}}{{subscription.cost}} monthly</p>
    
    <form ngNoForm action="https://localhost:44387/create-checkout-session" method="POST">
      <button type="submit" class="btn btn-warning" (click)="subscribe()">Subscribe</button>
    </form>
  </div>

</div>


